.swiper-container {
    width: 80vw;
    max-width: 1000px;
	height: 90vh;
	max-height: 1000px;
	overflow-x: hidden;
	overflow-y: auto;
    touch-action: pan-y;
	display: inline-block;
	background-color: red;
}
  
.swiper-list {
	height: 100%;
	display: flex;
    flex-direction: row;
	/* column-gap: 50px; */
    list-style: none;
    padding: 0;
    margin: 0;
    transition: transform 0.3s ease-out;
	/* align-items: center; */
	/* justify-content: space-around; */
}

.swiper-list.is-swiping {
  transition: none;
}