/* *~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ */
/* App */
/* *~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ */

.App {
	height: 100%;
	padding-left: 1%; /* Center card horizontally with scroll-snap */
}

button {
	-webkit-tap-highlight-color: transparent; /* No button flash on tap */
}

/* *~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ */
/* Toolbar */
/* *~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ */

#toolbar {
	--toolbar-height: min(20vw, 70px); /* 100/n (n = num ToolbarItems + 1) */
	--toolbar-hide-duration: 1s;
	box-sizing: border-box; /* height includes border */
	position: absolute;
	z-index: 5;
	background-color: aliceblue;
	width: 100%;
	height: var(--toolbar-height);
	left: 0; /* Ignore parent's left padding */
	border-bottom: 0.5px solid black;
	transition-duration: var(--toolbar-hide-duration);
}
#toolbar.hide {
	transform: translateY(calc(var(--toolbar-height) * -1));
}

.toolbar-item { 
	width: var(--toolbar-height);
	background-color: transparent;
	border: none;
	opacity: 0.15;
	display: inline-block;
	padding: 0;
	height: 100%;
}

.toolbar-item > svg {
	padding: 20%;
}

#toolbar-toggler {
	position: absolute;
	right: 0;
	transition-duration: var(--toolbar-hide-duration);
}
#toolbar-toggler.prevent-hide {
	transform: translateY(calc(var(--toolbar-height))) rotate(180deg);
}

#font-size-picker {
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	scrollbar-width: none; /* firefox only */
	line-height: var(--toolbar-height); /* vertically align text */
}
#font-size-picker::-webkit-scrollbar { /* chrome & safari only */
	display: none; 
}

#font-size-picker > .font-size-option {
	text-align: center;
	scroll-snap-align: start;
	font-size: calc(var(--toolbar-height) / 2.5); /* fits "XL" */
}

/* *~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ */
/* Deck & Cards */
/* *~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ */

#deck {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5%;
	overflow: scroll;
	scroll-snap-type: x mandatory;
	scrollbar-width: none; /* firefox only */
	perspective: 1000px;
}
#deck::-webkit-scrollbar { /* chrome & safari only */
	display: none; 
}

.card {
	position: relative;
	background-color: white;
	box-sizing: border-box; /* width & height include padding & border */
	flex: none; /* fully inflexible: it's sized by width & height only */
	width: 98%;
	height: 98%;
	border: 1px solid black;
	scroll-snap-align: start; /* scroll snaps to start of this element */
	box-shadow: 2px 2px 5px black;
	overflow-wrap: break-word; /* break overflow words if needed */
	font-size: larger;
	/* padding: 10%; */

	/* center inner content */
	/* display: flex;  */

	transition: transform 0.6s;
	transform-style: preserve-3d;
	z-index: 2;
}
.card.flipped {
	transform: rotateY(180deg); 
}

.card-front, .card-back {
	backface-visibility: hidden;
	transform: rotateX(0deg); /* Needed to hide backface in Firefox */
	position: absolute;
	inset: 0;     /* Center vertically & horizontally */
  	margin: auto; /* Center vertically & horizontally */
	width: fit-content;
	max-width: 80%;
	height: fit-content;
	max-height: 80%;
	overflow-y: scroll; /* Breaks backface-visibility if defined on parent */ 
}

.card-front {
	/* background-color: red; */
	text-align: center;
	z-index: 3;
}

.card-back {
	/* background-color: blue; */
	transform: rotateY(-180deg);
	z-index: 1;
}

#card-index-display {
	background-color: transparent;
	border: none;
	color: rgba(0, 0, 0, 0.2);
	font-size: 30px;
	inset: auto 0 25px; /* top left/right bottom */
	margin: auto; 		/* center horizontally */
	position: absolute;
	transition-duration: 1s;
	width: fit-content;
}
#card-index-display.hide {
	opacity: 0;
}

/* *~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ */
/* Markdown */
/* *~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ */

/* Prevent side-scroll on KaTex (not ideal) */
/* p {
	overflow-x: hidden;
} */
.katex-display { overflow-x: scroll }
/* Allow line breaks in display-mode */
.katex-display > .katex { 
	white-space: normal !important;
	margin: 0.5em 0; 
}
/* Add space between broken lines: */
.katex-display > .base { margin: 0.25em 0 }